{% extends 'musicos/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card shadow">
      <div class="card-header bg-danger text-white">
        <h5 class="card-title">Eliminar banda</h5>
      </div>
      <div class="card-body">
        <p>¿Está seguro de que desea eliminar la banda?</p>
        <form action="{% url 'musicos:eliminar_banda' banda.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Eliminar" class="btn btn-danger">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}



